<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    # <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Login</h1>

    <form method="POST" action="/sign-in">
        <label for="email">Email</label>
        <input type="text" id='email' name="email">
        <label for="password">Password</label>
        <input type="password" id='password' name="password">
        <input type="submit">
    </form>

    <div class = "notice">
        <%= flash[:notice] if flash[:notice] %>
    </div>

    <div class = "error">
        <%= flash[:error] if flash[:error] %>
    </div>

    <div class = "success">
        <%= flash[:success] if flash[:success] %>
    </div>
    
</body>
</html>